<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098404694826-aqvu23qs2loq4tb99slqv22c913k79dv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098404694826-aqvu23qs2loq4tb99slqv22c913k79dv</string>
	<key>API_KEY</key>
	<string>AIzaSyA4IdpAIhICWaf2O1YAciombcnvthWxwUY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098404694826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.avmap.alert247</string>
	<key>PROJECT_ID</key>
	<string>alert247</string>
	<key>STORAGE_BUCKET</key>
	<string>alert247.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098404694826:ios:22607d685fb5484d196c53</string>
	<key>DATABASE_URL</key>
	<string>https://alert247.firebaseio.com</string>
</dict>
</plist>